@page "/"

<PageTitle>Home</PageTitle>

<p>Try navigating between the various versions of the weather page.</p>

<p>Please keep in mind that you won't see a difference on reloading the page with F5.</p>